.list {
  list-style: none;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

@media (min-width: 804px) {
  .list {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media (min-width: 1198px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
