.card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9d2a56;
}

.image {
  width: 6rem;
  aspect-ratio: 1;
  border: 0.1rem solid #e691b2;
  border-radius: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}

.info {
  flex: 1;
}

.description {
  margin-top: 1rem;
}

.button {
  align-self: flex-end;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button:hover,
.button:focus {
  background-color: #e691b2;
}

.buttonText {
  margin-left: 0.5rem;
}
