.summary {
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  border-collapse: separate;
  border-spacing: 0.5rem 1rem;
  padding-inline: 0.5rem;
  background-color: #9d2a56;
}

.header {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #550926;
  text-align: left;
}

.price {
  text-align: right;
}

.total {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
}
