*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* outline: 1px solid green; */
}

:root {
  --vertical-padding: 1rem;
  --horizontal-padding: 1rem;
  --title-font-family: "Fontdiner Swanky", fantasy;
  --primary: #9d2a56;
  --danger: #ce134e;
  --confirm: #12c362;

  font-family: Fredoka, sans-serif;
  text-shadow: var(--shadow);
  color: #fff;
}

body {
  background: radial-gradient(circle at center, #000000, #550926);
  background-color: #550926;
  background-attachment: fixed;
}

.header {
  padding: 1rem;
  background-color: var(--primary);
  box-shadow: var(--shadow);
  text-align: center;
}

.header-title {
  font-family: "Fontdiner Swanky", fantasy;
  font-weight: normal;
}

.nav {
  position: sticky;
  top: 0;
  background-color: #550926;
}

.nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  max-width: 32rem;
  margin: auto;
  padding: 0.5rem;
}

.nav > ul > li {
  flex: 1;
}

.nav-link {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  transition: background-color 0.1s;
}

.nav-link:not(.active-nav-link):hover {
  background-color: #79193e;
}

.active-nav-link {
  background-color: #9d2a56;
  cursor: default;
}

.nav-link-text {
  display: none;
  text-decoration: none;
}

.main {
  padding-inline: 1rem;
}

.page-title {
  max-width: 32rem;
  margin-top: 1rem;
  margin-inline: auto;
  font-family: "Fontdiner Swanky", fantasy;
  font-weight: normal;
}

.section {
  max-width: 32rem;
  margin-inline: auto;
}

.heading {
  margin-top: 1rem;
  font-family: Fredoka, sans-serif;
  font-weight: bold;
}

.search-bar {
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  transition: background-color 0.1s;
}

.standalone-message {
  display: block;
  margin-block: 1rem;
  text-align: center;
}

.result-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.result-nav-button {
  aspect-ratio: 1;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.result-nav-button:hover {
  background-color: #e691b2;
}

.result-nav-text {
  width: 8rem;
  text-align: center;
}

.results {
  list-style: none;
}

.browse-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #9d2a56;
}

.browse-card-image {
  width: 6rem;
  aspect-ratio: 1;
  border: 0.1rem solid #e691b2;
  border-radius: 1rem;
}

.browse-card-description {
  margin-top: 1rem;
}

.browse-card-button {
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.browse-card-button:hover {
  background-color: #e691b2;
}

.browse-card-button-text {
  margin-left: 0.1rem;
}

.product-card-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.product-card-image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.product-card-title-and-price {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.price {
  font-weight: lighter;
}

.product-card-button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: 500;
  text-shadow: none;
  color: #000;
  cursor: pointer;
}

.product-card-button:hover {
  filter: brightness(90%);
}

.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--primary);
}

.close-overlay-button {
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--danger);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.close-overlay-button:hover {
  filter: brightness(90%);
}

.basket-card-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.empty-basket-message {
  text-align: center;
}

.basket-card {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--primary);
  box-shadow: var(--shadow);
}

.basket-card-image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.basket-card-except-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.basket-card-title-and-price {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.basket-card-quantity-and-remove {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.basket-card-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  color: #000;
  cursor: pointer;
}

.quantity-button:hover:not(:disabled) {
  filter: brightness(90%);
}

.quantity-button:disabled {
  opacity: 0.1;
  cursor: auto;
}

.quantity-button .icon {
  filter: none;
}

.basket-quantity {
  width: var(--vertical-padding);
  text-align: center;
}

.remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--danger);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.remove-button:hover {
  filter: brightness(90%);
}

.basket-buttons {
  display: flex;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  gap: var(--vertical-padding);
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.clear-basket-button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--danger);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.clear-basket-button:hover {
  filter: brightness(90%);
}

.check-out-button {
  flex: 1;
  border: none;
  background-color: transparent;
}

.check-out-button-text {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  text-shadow: none;
  color: #000;
}

.check-out-button-text:hover {
  filter: brightness(90%);
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.quantity {
  font-weight: lighter;
}

.total-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  border-radius: 1rem;
  padding: var(--vertical-padding);
  background-color: var(--primary);
  box-shadow: var(--shadow);
  list-style: none;
}

.total {
  font-size: 2rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-label {
  font-weight: bold;
}

.input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow);
  font-size: 1rem;
  text-shadow: none;
  color: #000;
}

.optional {
  font-weight: lighter;
}

.invalid-input-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.place-order-button-container {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.place-order-button {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--confirm);
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.place-order-button:hover {
  filter: brightness(90%);
}

@media (min-width: 512px) {
  .nav-link {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .nav-link-text {
    display: inline;
    margin-left: 0.5rem;
  }

  .nav-button-text {
    display: inline;
  }

  .product-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1008px) {
  :root {
    --horizontal-padding: 16rem;
  }

  .product-card-image {
    width: 8rem;
    height: 8rem;
  }

  .basket-card-image {
    width: 8rem;
    height: 8rem;
  }

  .basket-card-except-image {
    padding: 1rem;
  }
}
