*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
}

:root {
  --vertical-padding: 1rem;
  --horizontal-padding: 1rem;
}

.header {
  padding: var(--vertical-padding) var(--horizontal-padding);
  text-align: center;
}

.right-nav-button-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.left-nav-button-container {
  display: flex;
  position: sticky;
  top: 0;
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.nav-button {
  border-radius: 50%;
  padding: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.product-card-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
}

.product-card-except-button {
  display: flex;
  gap: 0.5rem;
}

.product-card-image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.product-card-title-and-price {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.product-card-button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.basket-card-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.basket-card {
  display: flex;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
}

.basket-card-image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.basket-card-except-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.basket-card-title-and-price {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.basket-card-quantity-and-remove {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.basket-card-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.basket-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

.basket-buttons {
  display: flex;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  gap: var(--vertical-padding);
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.clear-basket-button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.check-out-button {
  flex: 1;
}

.check-out-button-text {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.total-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  border-radius: 1rem;
  padding: var(--vertical-padding);
  list-style: none;
}

.total {
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.place-order-button-container {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.place-order-button {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

@media (min-width: 641px) {
  :root {
    --vertical-padding: 2rem;
    --horizontal-padding: 4rem;
  }

  .product-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1008px) {
  :root {
    --horizontal-padding: 16rem;
  }
}