*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* outline: 1px solid green; */
}

:root {
  --vertical-padding: 1rem;
  --horizontal-padding: 1rem;
  --title-font-family: "Fontdiner Swanky", fantasy;
  --primary: #9d2a56;
  --danger: #ce134e;
  --confirm: #12c362;

  font-family: Fredoka, sans-serif;
  text-shadow: var(--shadow);
  color: #fff;
}

body {
  background: radial-gradient(circle at center, #000000, #550926);
  background-color: #550926;
  background-attachment: fixed;
}

.header {
  padding: 1rem;
  background-color: var(--primary);
  box-shadow: var(--shadow);
  text-align: center;
}

.header-title {
  font-family: "Fontdiner Swanky", fantasy;
  font-weight: normal;
}

.nav {
  position: sticky;
  top: 0;
  background-color: #550926;
}

.nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  max-width: 386px;
  margin: auto;
  padding: 0.5rem;
}

.nav > ul > li {
  flex: 1;
}

.nav-link {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  transition: background-color 0.1s;
}

.nav-link:not(.active-nav-link):hover {
  background-color: #79193e;
}

.active-nav-link {
  background-color: #9d2a56;
  cursor: default;
}

.nav-link-text {
  display: none;
  text-decoration: none;
}

.main {
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.page-title {
  max-width: 386px;
  margin-top: 2rem;
  margin-inline: auto;
  font-family: "Fontdiner Swanky", fantasy;
  font-size: 2.5rem;
  font-weight: normal;
}

.section {
  max-width: 386px;
  margin-inline: auto;
}

.heading {
  margin-top: 2rem;
  font-family: Fredoka, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.search-bar {
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  transition: background-color 0.1s;
}

.standalone-message {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.result-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.result-nav-button {
  aspect-ratio: 1;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.result-nav-button:hover {
  background-color: #e691b2;
}

.result-nav-text {
  width: 8rem;
  text-align: center;
}

.browse-card-list {
  list-style: none;
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

.browse-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9d2a56;
}

.card-image {
  width: 6rem;
  aspect-ratio: 1;
  border: 0.1rem solid #e691b2;
  border-radius: 1rem;
}

.browse-card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}

.browse-card-info {
  flex: 1;
}

.browse-card-description {
  margin-top: 1rem;
}

.browse-card-button {
  align-self: flex-end;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.browse-card-button:hover {
  background-color: #e691b2;
}

.browse-card-button-text {
  margin-left: 0.5rem;
}

.subheading {
  margin-top: 2rem;
  font-family: "Fontdiner Swanky", fantasy;
  font-size: 1.5rem;
  font-weight: normal;
}

.basket-card-list {
  list-style: none;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.basket-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #9d2a56;
}

.basket-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-self: stretch;
}

.basket-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.quantity-buttons {
  display: flex;
  align-items: center;
}

.quantity-button {
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  transition: background-color 0.1s;
}

.quantity-button:not(:disabled):hover {
  background-color: #e691b2;
  cursor: pointer;
}

.quantity-button:disabled {
  opacity: 25%;
  cursor: not-allowed;
}

.basket-quantity {
  width: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.basket-remove-button {
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #f44848;
  font-size: 1rem;
  color: #fff;
  transition: background-color 0.1s;
}

.basket-remove-button:hover {
  background-color: #c83956;
  cursor: pointer;
}

.standalone-button-container {
  display: flex;
  justify-content: flex-end;
}

.standalone-button {
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  transition: background-color 0.1s;
}

.standalone-button:hover {
  background-color: #e691b2;
  cursor: pointer;
}

.standalone-button-text {
  margin-left: 0.5rem;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  list-style: none;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.quantity {
  font-weight: lighter;
}

.total-list {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
  border-radius: 1rem;
  padding: var(--vertical-padding);
  background-color: var(--primary);
  box-shadow: var(--shadow);
  list-style: none;
}

.total {
  font-size: 2rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-padding);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-label {
  font-weight: bold;
}

.input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow);
  font-size: 1rem;
  text-shadow: none;
  color: #000;
}

.optional {
  font-weight: lighter;
}

.invalid-input-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.place-order-button-container {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.place-order-button {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--confirm);
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.place-order-button:hover {
  filter: brightness(90%);
}

@media (min-width: 804px) {
  .nav > ul {
    max-width: 772px;
  }

  .nav-link {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .nav-link-text {
    display: inline;
    margin-left: 0.5rem;
  }

  .nav-button-text {
    display: inline;
  }

  .page-title {
    max-width: 772px;
  }

  .section {
    max-width: 772px;
  }

  .browse-card-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .basket-card-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1198px) {
  .nav > ul {
    max-width: 1166px;
  }

  .page-title {
    max-width: 1166px;
  }

  .section {
    max-width: 1166px;
  }

  .browse-card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .basket-card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
