.input {
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: Fredoka, sans-serif;
  font-size: 1rem;
  transition: background-color 0.1s;
}